.sort-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4.steps {
  text-align: left;
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: 400;
  color: white;
}

.data-number {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding: 10px 20px;
}

.data-number .items-number {
  background-color: #3282b8;
  margin: 10px;
  padding: 20px 30px;
  color: #333;
  font-weight: 700;
  font-size: 25px;
  border-radius: 10px;
}

.clue {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: white;
}


.clue p:nth-child(2) {
  margin-top: 20px;
  font-weight: bold;
  color: #bcc1c4;
}

.nav-button {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.nav-button button {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-button button:hover {
  background-color: #3282b8;
}

.last-step {
  text-align: center;
  color: grey;
}

.last-step h5 {
  font-size: 30px;
}
